---
import GreetingTitle from "../../components/GreetingTitle.svelte";
import PageHeader from "../../components/PageHeader.astro";
import Layout from "../../layouts/Layout.astro";
import {repositories} from "../../lib/githubData";
import RepoSimpleList from "../../components/RepoSimpleList.astro";
import { fetchRepositories } from "../../services/githubService";

export async function load(): Promise<{} | undefined> {
    try {
        const repositories = await fetchRepositories();
        console.log
        return {
            props: {
                repositories
            }
        };
    } catch (error) {
        console.error('Failed to fetch repositories:', error);
    }
}
---

<Layout title="Repos">
    <div id="playlist-container" class="relative transition-all duration-1000 bg-context"
         style="min-height:300px;--context-color:#134e4a;">
        <PageHeader/>
        <div class="relative z-10 px-6">
            <GreetingTitle client:visible greeting="My Repos"/>
            <div class="absolute inset-0 bg-gradient-to-t from-zinc-900 via-zinc-900/80"></div>
            <RepoSimpleList repositories={repositories}/>
        </div>
    </div>
</Layout>