---
import GreetingTitle from "../../components/GreetingTitle.svelte";
import PageHeader from "../../components/PageHeader.astro";
import Layout from "../../layouts/Layout.astro";
import {initializeRepositories} from "../../lib/githubData";
import RepoSimpleList from "../../components/RepoSimpleList.astro";
import RepoDetailedList from "../../components/RepoDetailedList.astro";
// todo: remove repository list and match the music index.astro

initializeRepositories().then(() => {
    console.log('Repositories have been fetched.');
}).catch((error) => {
    console.error('Failed to fetch repositories:', error);
});
---

<Layout title="Home">
    <div
            id="playlist-container"
            class="relative transition-all duration-1000 bg-context"
            style="min-height:300px;--context-color:#134e4a;"
    >
        <PageHeader />
        <div class="relative z-10 px-6">
            <GreetingTitle client:visible greeting="My Repos"/>
            <div class="absolute inset-0 bg-gradient-to-t from-zinc-900 via-zinc-900/80"></div>
            <RepoSimpleList />
            <RepoDetailedList />
        </div>
    </div>
</Layout>
