---
import GreetingTitle from "../components/GreetingTitle.svelte";
import PageHeader from "../components/PageHeader.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
    <div id="playlist-container" class="relative transition-all duration-1000 bg-context"
         style="min-height:300px;--context-color:#134e4a;">
        <PageHeader/>
        <div class="relative z-10 px-6">
            <GreetingTitle client:visible/>
        </div>

        <div class="absolute inset-0 bg-gradient-to-t from-zinc-900 via-zinc-900/80">
            <div class="flex justify-center items-center h-full">
                <div class="relative z-10 px-6">
                    <a href="/music" class="px-4 py-2 text-white bg-zinc-500 hover:bg-zinc-600 rounded-md">
                        Listen to Music
                    </a>
                </div>
                <div class="relative z-10 px-6">
                    <a href="/repositories" class="px-4 py-2 text-white bg-zinc-500 hover:bg-zinc-600 rounded-md">
                        View Repositories
                    </a>
                </div>
                <div class="relative z-10 px-6">
                    <a href="/test" class="px-4 py-2 text-white bg-zinc-500 hover:bg-zinc-600 rounded-md">
                        Test
                    </a>
                </div>
            </div>
        </div>
    </div>
</Layout>
