---
import { ViewTransitions } from "astro:transitions";

const title = "Home"
const image = "https://res.cloudinary.com/dp3ppkxo5/image/upload/v1693776174/spotify-astro/playlist_2_f9ymlx.jpg"
---

<meta charset="UTF-8" />
<meta
  name="description"
  content="Clone of Spotify with Astro View Transitions integration for fluid navigation"
/>
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />
<title>{title} | Neal's Website</title>
<meta property="og:image" content={image} />
<meta name="twitter:image" content={image} />
<ViewTransitions fallback="animate" />