---
import { playlists } from "../lib/musicData";
import PlaylistItemCard from "./PlaylistItemCard.astro";
---

<div
  class="grid gap-y-4 gap-x-6 sm:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 mt-6"
>
  {playlists.map((playlist) => <PlaylistItemCard playlist={playlist} />)}
</div>
