---
import { repositories } from "../lib/githubData";
import RepositoryItemCard from "./RepositoryItemCard.astro";
---

<div class="grid gap-y-4 gap-x-6 sm:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 mt-6">
  {repositories.map((repository) => (<RepositoryItemCard repository={repository} />))}
</div>
