---
import GreetingTitle from "../../components/GreetingTitle.svelte";
import PageHeader from "../../components/PageHeader.astro";
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import ArrowCard from "../../components/Project/ArrowCard.astro";

const projects = (await getCollection("projects"))
    .filter((project) => !project.data.draft)
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<Layout title="Repos">
    <div
            id="playlist-container"
            class="relative transition-all duration-1000 bg-context"
            style="min-height:300px;--context-color:#134e4a;"
    >
        <PageHeader/>
        <div
                class="absolute inset-0 bg-gradient-to-t from-zinc-900 via-zinc-900/80"
        >
        </div>
        <div class="relative z-10 px-6">
            <GreetingTitle client:visible greeting="My Projects"/>
            Work in progress
        </div>
        <div class="mx-auto max-w-screen-sm px-3">
            <div class="space-y-10">
                <div class="animate font-semibold text-black dark:text-white">
                    Projects
                </div>
                <ul class="animate not-prose flex flex-col gap-4">
                    {
                        projects.map((project) => (
                                <li>
                                    <ArrowCard entry={project}/>
                                </li>
                        ))
                    }
                </ul>
            </div>
        </div>
    </div>
</Layout>
