---
import { Icon } from "astro-icon/components";
import Search from "astro-pagefind/components/Search";

type Props = {
  iconName?: string;
  title?: string;
  id?: string;
};

const { iconName, title, id } = Astro.props;
---

<li id={id}>
  <!-- <a
    title={title}
    class="flex gap-4 text-zinc-400 hover:text-zinc-100 py-3.5 px-5 font-semibold transition-all duration-300"
  >
    <Icon name={iconName} class="h-6 w-6 menu-item-icon" />
    <span class="menu-item-text"><slot /></span>
  </a> -->
  <div
    class="flex gap-4 text-zinc-400 hover:text-zinc-100 py-3.5 px-5 font-semibold transition-all duration-300"
  >
    <Search
      id="search"
      className="pagefind-ui slategrey"
      uiOptions={{ showImages: false }}
    />
  </div>
</li>

<style is:global>
    nav {
      display: grid;
      place-items: center;
    }
  
    .pagefind-ui {
      --pagefind-ui-scale: 0.75;
      --pagefind-ui-primary: navy;
      --pagefind-ui-text: black;
      --pagefind-ui-border: slategrey;
      --pagefind-ui-border-width: 1px;
      --pagefind-ui-border-radius: 0.25rem;
      --pagefind-ui-font: sans-serif;
  
      width: 100%;
    }

    .pagefind-ui.grey {
      --pagefind-ui-background: slategrey;
      width: 100%;
    }

    .pagefind-ui.blue {
      --pagefind-ui-background: lightblue;
      width: 100%;
    }
  
    .pagefind-ui.yellow {
      --pagefind-ui-background: lightyellow;
      width: 100%;
    }
  
    .pagefind-ui.red {
      --pagefind-ui-background: peachpuff;
      width: 100%;
    }
  
    .pagefind-ui .pagefind-ui__drawer:not(.pagefind-ui__hidden) {
      position: absolute;
      left: 0;
      right: 0;
      margin-top: 0px;
      z-index: 9999;
      padding: 0 2em 1em;
      overflow-y: auto;
      box-shadow:
        0 10px 10px -5px rgba(0, 0, 0, 0.2),
        0 2px 2px 0 rgba(0, 0, 0, 0.1);
      border-bottom-right-radius: var(--pagefind-ui-border-radius);
      border-bottom-left-radius: var(--pagefind-ui-border-radius);
      background-color: var(--pagefind-ui-background);
    }
  
    .pagefind-ui .pagefind-ui__result-link {
      color: var(--pagefind-ui-primary);
    }
  
    .pagefind-ui .pagefind-ui__result-excerpt {
      color: var(--pagefind-ui-text);
    }
  </style>
