---
import { Icon } from "astro-icon/components";

type Props = {
  href?: string;
  iconName?: string;
  title?: string;
  id?: string;
};

const { href, iconName, title, id} = Astro.props;
---

<li id={id}>
  <a
    {href}
    title={title}
    class="flex gap-4 text-zinc-400 hover:text-zinc-100 py-3.5 px-5 font-semibold transition-all duration-300"
  >
    <Icon name={iconName} class="h-6 w-6 menu-item-icon" />
    <span class="menu-item-text"><slot /></span>
  </a>
</li>

