---
import { Icon } from "astro-icon/components";

type Props = {
  iconName?: string;
};

const { iconName } = Astro.props;
---

<li>
  <button
    class="flex gap-4 text-zinc-400 hover:text-zinc-100 py-3.5 px-5 font-semibold transition-all duration-300"
    id="magnifying-glass"
    aria-label="search"
  >
    <Icon name={iconName} class="h-6 w-6 menu-item-icon" />
    <span class="menu-item-text"><slot /></span>
  </button>
</li>
