---
import "./layout.css";
import Head from "../components/Head.astro";
import SideMenu from "../components/Side/SideMenu.astro";
import PageFind from "../components/PageFind.astro";
declare global {
  interface Document {
    startViewTransition?: () => void;
  }
}
---

<!doctype html>
<html lang="en">
  <head>
    <Head />
  </head>
  <body class="dark">
    <div class="relative h-screen p-2 gap-2 flex items-stretch">
      <div
        id="sideMenu"
        class="w-[350px] flex-col hidden lg:flex overflow-y-auto"
      >
        <SideMenu />
      </div>
      <div class="rounded-lg bg-zinc-900 flex-1 mx-auto overflow-y-auto">
        <slot />
      </div>
    </div>

    <script>
      document.addEventListener("astro:page-load", () => {
        const nealStuffToggle = document.getElementById("nealStuffToggle");
        if (nealStuffToggle) {
          nealStuffToggle.addEventListener("click", function (event) {
            event.stopPropagation();
            const sideMenu = document.getElementById("sideMenu");
            if (sideMenu) {
              sideMenu.classList.toggle("collapsed");
            }
          });
        }
      });
    </script>
    <PageFind />
  </body>
</html>
